.cardrow {
 
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2% 0 2% 0;
}

